<section class="selector-section">
    <p>Select a letter of the alphabet to view statistics about: </p>
    <select name="specificLetter" value={{currentLetter}} (change)="onSpecificLetterChange($event)">
        <ng-template ngFor let-item [ngForOf]="alphabet">
            <option value={{item}}>
                {{item | uppercase}}
            </option>
        </ng-template>
    </select>
    <a id="AddMoreLink" [routerLink]="['/addwords']">Add More Words</a>
</section>
<section>
    <p>TODO: LETTER STATISTICS</p>
    <p>TODO: WORD LISTS</p>
</section>
<section class="selector-section">
    <p>Select a statistic of the loaded dictionary that you wish to display: </p>
    <select name="whatToGraph" value={{graphThis}} (change)="onWhatToGraphChange($event)">
        <option value="1"><!-- TOP_FIVE -->
            Top 5 Words in Dictionary
        </option>
        <option value="2"><!-- ALL_OF_THEM -->
            All Words in Dictionary
        </option>
    </select>
</section>
<ng-template [ngIf]="graphThis == 1"><!-- graphThis == TOP_FIVE -->
    <section>
        <p>TODO: Top Five chart</p>
    </section>
</ng-template>
<ng-template [ngIf]="graphThis == 2"><!-- graphThis == ALL_OF_THEM -->
    <section>
        <p>TODO: All words chart</p>
    </section>
</ng-template>
