#AddMoreLink {
    align-self: center;
    text-align: right;
}

section.selector-section {
    border: rgba(128,128,128,0.25) 1px solid;
    padding: 0.75em;
    display: flex;
}
.selector-section * {
    flex-grow: 0.25;
}
.selector-section select {
    margin: 1em;
}

.letter-statistics p::before {
    font-weight: bold;
    padding-right: 1rem;
}
p[data-statistic="begin"]::before {
    content: 'Number of Words Beginning with Letter:';
}
p[data-statistic="end"]::before {
    content: 'Number of Words Ending with Letter:';
}
p[data-statistic="average"]::before {
    content: 'Average Number of Characters in Words with Letter:';
}

div.word-list-holder {
    display: flex;
}
.word-list-holder > * {
    flex-grow: 0.5;
    margin: 0 1em 0 1em;
}
